body {
    background-color: antiquewhite;
}

h1 {
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-style: italic;
    text-align: center  ;
}

h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.aboutme {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.aboutmeBoxes {
    width: 200px;
    height: 200px;
    background-color: beige;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    padding: 10px;
}

h3 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: darkred;
    font-style: italic;
}

ul {
    text-align: left;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: bisque;
    font-style: italic;
}

a {
    color: brown;
}

li {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic ;
    color: brown
}
